*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-cl: #212121;
  --secondary-cl: #757575;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --accent-blue: #2196f3;
  --accent-white: #ffffff;
  --accent-gray: #afb1b8;
  --btn-active: #188ce8;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-cl);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  outline: none;
  color: #afb1b8;
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--accent-blue);
}
.social-list__icon {
  fill: currentColor;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu__btn.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__btn:hover, .menu__btn:focus .menu__btn--svg-color {
  fill: var(--btn-active);
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--accent-white);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: var(--primary-cl);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: var(--btn-active);
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-top: auto;
  margin-bottom: 64px;
}

.address__link {
  color: var(--secondary-cl);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px 1.1666666667;
  letter-spacing: 0.02em;
}
.address__link:hover, .address__link:focus {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-blue);
}

.menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  color: var(--accent-blue);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
}

.logo {
  display: block;
  padding: 16px;
  font-family: var(--secondary-font);
  color: var(--accent-blue);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
.logo .logo--color-black {
  color: var(--primary-cl);
}
.logo--down {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}
.logo--down .logo--color-white {
  color: var(--accent-white);
}

.primary-btn {
  display: inline-block;
  padding: 10px 24px;
  background: var(--accent-blue);
  color: var(--accent-white);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.primary-btn:hover, .primary-btn:focus {
  background-color: var(--btn-active);
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.contacts-list .contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.03em;
}
.contacts-list .contacts-link .contacts-link--white {
  color: var(--accent-white);
}
.contacts-list .contacts-link:hover, .contacts-list .contacts-link:focus {
  color: var(--accent-blue);
}
.contacts-list .contacts-link:hover .contacts-link--white, .contacts-list .contacts-link:focus .contacts-link--white {
  color: var(--accent-blue);
}

.subscribe-form {
  text-align: center;
}
.subscribe-form .subscribe-form__label {
  display: block;
  max-width: 450px;
}
.subscribe-form .subscribe-form__label--margin {
  margin-bottom: 20px;
}
.subscribe-form .subscribe-form__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  color: var(--accent-gray);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe-form .subscribe-form__input:hover, .subscribe-form .subscribe-form__input:focus {
  border-color: var(--accent-blue);
}

.modal-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: var(--secondary-cl);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-form__label:nth-child(5) {
  margin-bottom: 10px;
}

.modal-form__input {
  outline: none;
  padding: 11px 0 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus {
  border-color: var(--accent-blue);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-blue);
}

.modal-form__text {
  margin-bottom: 4px;
}

.modal-form__textarea {
  resize: none;
  outline: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.modal-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  border-color: var(--accent-blue);
}

.form-policy {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-left: 13px;
  margin-bottom: 30px;
}

.form-policy__text {
  color: var(--secondary-cl);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form-policy__link {
  color: var(--accent-blue);
}

.svg-check {
  opacity: 0;
}

.form-policy__check:checked + .form-policy__svg .svg-check {
  opacity: 1;
}

.form-policy__check:checked + .form-policy__svg .svg-uncheck {
  opacity: 0;
}

.modal-form__btn {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

.section--padding {
  padding: 60px 0;
}

.section--hidden {
  display: none;
}

.section--background {
  background-color: var(--secondary-bgc);
}

.section__title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
.section__title--margin-bottom {
  margin-bottom: 30px;
}

.header-page__container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__section {
  max-width: 480px;
  padding: 118px 15px;
  margin: 0 auto;
  text-align: center;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero_img_mobile@1x.png);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_img_mobile@1x.png);
}
@media (min-device-pixel-ration: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero_img_mobile@2x.png);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero_img_mobile@2x.png);
  }
}

.hero-title {
  max-width: 360px;
  margin: 0 auto 30px;
  color: var(--accent-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  background-color: var(--secondary-bgc);
}
.features-list__box--margin-bottom {
  margin-bottom: 30px;
}

.feature-list__title {
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list__title--margin {
  margin-bottom: 10px;
}

.feature-list__text {
  color: var(--secondary-cl);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.team-list__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--primary-bgc);
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list__title--margin {
  margin-bottom: 10px;
}

.team-list__text {
  color: var(--secondary-cl);
  font-size: 16px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list__text--margin {
  margin-bottom: 16px;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.customers-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 210px;
  min-width: 200px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid currentColor;
  color: var(--accent-gray);
}
.customers-list__link:hover, .customers-list__link:focus {
  color: var(--btn-active);
}
.customers-list__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--footer-bgc);
}

.footer--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.footer__title {
  color: var(--accent-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__title--margin {
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: var(--accent-white);
}
.backdrop .modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: inherit;
  color: var(--primary-cl);
}
.backdrop .modal__btn:hover, .backdrop .modal__btn:focus {
  color: var(--accent-blue);
}
.backdrop .modal__btn:hover .modal__icon, .backdrop .modal__btn:focus .modal__icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */