:root {
    --primary-cl: #212121;
    --secondary-cl: #757575;

    --primary-bgc: #ffffff;
    --secondary-bgc: #f5f4fa;
    --footer-bgc: #2f303a;

    --accent-blue: #2196f3;
    --accent-white: #ffffff;
    --accent-gray: #afb1b8;
    --btn-active: #188ce8;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}