.content-box {
    flex-grow: 1;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.content-box__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.content-box__text {
    color: var(--secondary-cl);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}
