.logo {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;

    font-family: var(--secondary-font);
    color: var(--accent-blue);
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;

    .logo--color-black {
        color: var(--primary-cl);
    }

    @media screen and (min-width: 768px) {
        padding: 26px 0;
        margin-right: 87px;
    }

    @media screen and (min-width: 1200px) {
        padding: 25px 0;
        margin-right: 92px;
    }

    &--down {
        justify-content: center;
        padding: 0;
        margin-right: 0;
        margin-bottom: 20px;

        .logo--color-white {
            color: var(--accent-white);
        }

        @media screen and (min-width: 1200px) {
            justify-content: start;
        }
    }
}
